@charset "UTF-8";
/* CSS Document */

p {
	font-family: 'Cabin', Arial, sans-serif;
	color:#00010D
}

body {
	background-color:#CED3F2;
	}

#title {text-align: center;
}

h1, h2, h3, h4, h5 {
	font-family: 'Alfa Slab One', serif;
	color:#384773;
}

blockquote {
	font-style: italic;
color: #00010D
}

dd {
		font-family: Arial, sans-serif;
		color: #00010D;
}

nav {background-color:#000;
font-family: 'Alfa Slab One', cursive;
margin: 20px 0px;
padding: 15px;
text-align: center;
}

a:link {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	color:#5872A6;
	font-weight: bold;
	}
	
a:hover {
	text-decoration:none;
	color: #F3C;
	font-weight: bold;
}

a:active {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	color:#5872A6;
	font-weight: bold;
}

a:visited {
font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	color:#5872A6;
	font-weight: bold;
}

header {
	text-align: center;
	float: none;
}

div {
width:25% ;
height:auto;
margin-left: 35px;
margin-right: 20px;
margin-bottom: 10px;
margin-top: 15px;
min-width: 50px;
}

article {
	float:right;
	width:66%;
	margin: 40px;
	max-width: 750px;
	}

footer {
	float: right;
	color: #384773;
	margin: 30px;
}

.cssvalidates {
	float: right;
}

img {
	clear: left;
	padding: 5px;
}

.clearfix {
	clear: both;
	border: none;
}